
{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<h1>KU Login</h1>
<html>
<body>
{% if user.is_authenticated %}
    Welcome back, {{ user.username }}
{% else %}
<h2>Please <a href="{% url 'login'%}?next={{request.path}}">Login</a></h2>
{% endif %}
<form method="POST">
  {% csrf_token %}
  <table style="padding: 2ex;">
  {{ form.as_table }}
  </table>
  <button type="submit">Login</button>
  <input type="hidden" name="next" value="{{next}}" />
</form>
{# If you have a password_reset template, then add here #}
<p>
<h2><a href="{% url 'password_reset' %}">Forgot password?</a></h2>
</p>
</body>
</html>


