          {% load static %}
<html>
  <link rel="stylesheet" href="{% static 'polls/style.css' %}">
  <h1>KU Polls List</h1>
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
    <div class="container">
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        {% if choice.choice_text == check %}
            <input type="radio" name="choice" id="selected" value="{{ choice.id }}" checked>
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% else %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endif %}
    {% endfor %}
</fieldset>
     <input type="submit" value="Vote">
                  </div>

</form>
<a href="{% url 'polls:index' %}"><button type="button">Back to List of Polls</button></a></div>

    </html>