{% load static %}
  <link rel="stylesheet" href="{% static 'polls/style.css' %}">

  <legend><h1>KU Polls Lists</h1></legend>
  {% if messages %}
<ul class="messages">
    {% for msg in messages %}
        <li class="{{msg.tags}}">{{ msg }}</li>
    {% endfor %}
</ul>
{% endif %}
<table  cellpadding=10 >
          {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            {% if question.is_published %}
            <tr>
             <td><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                {% if question.can_vote %}
                    <td> <a href="{% url 'polls:detail' question.id %}"><button type="button"> vote </button></a>
                <td></td>
                {% endif %}
                <td><a href="{% url 'polls:results' question.id %}"> <button type="button"> result </button> </a>
            {% endif %}
        {% endfor %}
        </tr>
        </ul>
</table>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
