
{% load static %}
<html>
  <link rel="stylesheet" href="{% static 'polls/style.css' %}">

  <h1>KU Polls Lists</h1>
  {% if user.is_authenticated %}
    Welcome back, {{ user.username }}
{% else %}

<h2>Please <a href="http://127.0.0.1:8000/accounts/login"><Button>login</Button></a></h2>
{% endif %}

  {% if messages %}
<ul class="messages">
    {% for msg in messages %}
        <li class="{{msg.tags}}">{{ msg }}</li>
    {% endfor %}
</ul>
{% endif %}
<table cellpadding=10>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        {% if question.is_published %}
        <tr>
            {% if question.can_vote %}

            <td><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></td>
            <td><a href="{% url 'polls:detail' question.id %}"><Button>Vote</button></a></td>
            {% else %}
                <td><a href="{% url 'polls:results' question.id %}">{{ question.question_text }}</a></td>
                <td> </td>
            {% endif %}
        <td><a href="{% url 'polls:results' question.id %}"><Button>Result</button></a></td>
        {% endif %}
    {% endfor %}
</tr>
    </ul>
</table>
  <h2><a href="http://127.0.0.1:8000/accounts/logout"><Button>logout</Button></a></h2> <br />
<br />
{% else %}
    <p>No polls are available.</p>
{% endif %}