li a {
    color: black;
}
body {
    background: white url("ku.jpg") no-repeat;
    background-size: auto;
    background-position: center bottom;
}

button,input {
    background: green;
    color: white;
}

h1 {
    background: green;
    color: white;
    text-align: center;
}
.container{
    background: white;
    color: black;
}
.messages{
    background: white;
    color: red;
}
