li a {
    color: green;
}
body {
    background: black url("ku.jpg") no-repeat;
}
button{
    background: white;
    color: black;
}

input {
    background: white;
    color: black;
}
h1 {
    background: white;
    color: black;
    text-align: center;
}
